[Unit]
Description=B2B Sales Backend Nginx Reverse Proxy
After=network.target

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -c /home/azureuser/b2b-sales-backend/nginx.conf
ExecStart=/usr/sbin/nginx -c /home/azureuser/b2b-sales-backend/nginx.conf
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /var/run/nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /var/run/nginx.pid)"
PrivateTmp=true

[Install]
WantedBy=multi-user.target 